* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
.bg-header {
  background-image: url(../images/Main_foto.jpg);
  height: 997px;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
.bg-footer {
  background-image: url(../images/footer.jpg);
  height: 338px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
  width: auto;
}
.bg-section {
  background-color: #f6f6f6;
  height: 833px;
  width: auto;
}
.bg-section__donate {
  background-color: #f6f6f6;
  height: 434px;
  width: auto;
}
.conteiner {
  width: 1170px;
  margin: auto;
}

main {
  background-color: #fafafa;
}
.conteiner-main {
  display: flex;
  width: 1170px;
  margin: auto;
  max-width: 100%;
  height: 515px;
}
.conteiner-main__donate {
  display: flex;
  width: 1170px;
  max-width: 100%;
  height: 434px;
  margin: auto;
}
.dog-aligne {
  display: flex;
  align-items: center;
  margin-left: 17px;
}
.main-footer {
  display: flex;
  justify-content: space-between;
}
.btn-footer ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  margin-top: 57px;
}
.btn-footer li {
  margin-left: 37px;
}
.btn-footer {
  display: flex;
  align-items: center;
  width: 550px;
  justify-content: flex-end;
}
a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #cdcdcd;
  transition: 1s;
}
.logo-footer {
  margin-top: 52px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 32px;
  color: #f1cdb3;
  letter-spacing: 2px;
}
.small-logo_text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 1.35px;
  margin-top: 6px;
  margin-left: 2px;
}

.footer-text {
  margin-top: 241px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 44px;
  color: #ffffff;
  width: 465px;
  letter-spacing: 2.9px;
}
.big {
  line-height: 57px;
}
.small {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  letter-spacing: -0.15px;
  line-height: 24px;
  color: #cdcdcd;
  margin-top: 27px;
  margin-bottom: 56px;
}
.btn-make {
  background-color: #f1cdb3;
  padding: 16px 45px;
  color: #292929;
  border-radius: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
  transition: 0.5s;
}
.btn-make:hover {
  background-color: #fddcc4;
}
.btn-bank {
  margin-top: 10px;
  width: 287px;
  display: flex;
  justify-content: space-between;
  margin-left: 63px;
  background-color: #f1cdb3;
  padding: 10px 15px;
  color: #414141;
  border-radius: 7px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 1px;
}
.btn-card__bank {
  display: block;
  width: 100%;
}
.btn-get__allign {
  height: 186px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-get {
  background-color: #f1cdb3;
  padding: 16px 50px;
  color: #292929;
  border-radius: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  letter-spacing: 1px;
  transition: 0.5s;
}
.btn-get:hover {
  background-color: #fddcc4;
}

.btn-learn {
  padding: 15px 45px;
  color: #414141;
  border-radius: 30px;
  border: solid 2px #f1cdb3;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 17px;
  margin-top: 18px;
  letter-spacing: 1px;
  transition: 0.5s;
}
.btn-learn:hover {
  background-color: #f1cdb3;
}
.btn-center {
  display: flex;
  justify-content: center;
}
.conteiner-main img {
  margin-top: 20px;
  margin-left: 170px;
}
.about-txt {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-left: 120px;
  margin-top: 31px;
  width: 420px;
  color: #545454;
  line-height: 1.6;
  letter-spacing: -0.2px;
}
.section-txt__big {
  margin-top: 5px;
}
.about-txt__donate {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  color: #545454;
  width: 400px;
  margin-left: 63px;
  margin-top: 65px;
  letter-spacing: 2px;
  line-height: 43px;
}
.about-txt__donate_medium {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 15px;
  margin-left: 65px;
  margin-top: 21px;
  width: 420px;
  color: #545454;
  line-height: 1.6;
  letter-spacing: 1px;
}
.about-txt__donation {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-style: italic;
  margin-left: 64px;
  margin-top: 30px;
  width: 350px;
  color: #b2b2b2;
  line-height: 1.55;
  letter-spacing: 0.1px;
}
.about-txt__big {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  color: #545454;
  width: 400px;
  margin-left: 119px;
  margin-top: 43px;
  letter-spacing: 2px;
}
.section-title p {
  letter-spacing: 2px;
}
.section-title {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  margin: auto;
  height: 221px;
  color: #545454;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 400px;
}
.conteiner-section {
  width: 1170px;
  margin: auto;
  max-width: 100%;
}
.product-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 424px;
}
.product-section img {
  border-radius: 10px;
}
.produkt-1 {
  width: 270px;
  height: 424px;
  background-color: #fafafa;
  margin-left: 30px;
  transition: 0.5s;
  border-radius: 10px;
}
.produkt-1:hover {
  box-shadow: 0px 0px 30px rgb(228, 228, 228);
}
.produkt-2 {
  width: 270px;
  height: 424px;
  background-color: #fafafa;
  transition: 0.5s;
  border-radius: 10px;
}
.produkt-2:hover {
  box-shadow: 0px 0px 30px rgb(228, 228, 228);
}
.produkt-3 {
  width: 270px;
  height: 424px;
  background-color: #fafafa;
  margin-right: 30px;
  transition: 0.5s;
  border-radius: 10px;
}
.produkt-3:hover {
  box-shadow: 0px 0px 30px rgb(228, 228, 228);
}
.product_description {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
  color: #848484;
  margin-top: 21px;
  letter-spacing: 1px;
}
.icon-help {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.icon-help_bottom {
  margin: auto;
  width: 960px;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 28px;
  margin-top: 49px;
}
.icon-allign {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #545454;
  margin: auto;
  text-align: center;
  margin-left: 80px;
  margin-bottom: 25px;
  height: 110px;
}
.icon-allign__bottom {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #545454;
  margin: auto;
  text-align: center;
  margin-left: 80px;
  margin-bottom: 46px;
  height: 110px;
}
.icon-2__allign {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #545454;
  margin: auto;
  text-align: center;
  margin-left: 63px;
  margin-bottom: 30px;
  height: 110px;
}
.icon-3__allign {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #545454;
  margin: auto;
  text-align: center;
  margin-left: 74px;
  margin-bottom: 30px;
  height: 110px;
}
.icon-4__allign {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #545454;
  margin: auto;
  text-align: center;
  margin-left: 82px;
  margin-bottom: 23px;
  height: 110px;
}
.icon-5__allign {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #545454;
  margin: auto;
  text-align: center;
  margin-right: 62px;
  margin-bottom: 27px;
  height: 110px;
}
.icon-6__allign {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #545454;
  margin: auto;
  text-align: center;
  margin-right: 45px;
  margin-bottom: 51px;
  margin-left: 68px;
}
.icon-help_bottom p {
  margin-top: 20px;
}
.allign-txt {
  margin-top: 17px !important;
  letter-spacing: 1.3px !important;
}
.allign-txt__2 {
  margin-top: 25px !important;
}
.icon-help p {
  margin-top: 21px;
  letter-spacing: 1.5px;
}
.conteiner-footer {
  width: 1170px;
  margin: auto;
  max-width: 100%;
}
.footer-contacts {
  margin-right: 193px;
  width: 260px;
}
.contacts-title {
  margin-top: 71px;
  width: 283px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 35px;
  color: #ffffff;
  letter-spacing: 2px;
  line-height: 44px;
}
.contacts-icon {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #f1cdb3;
  margin-top: 8px;
}
.contacts-icon__loc2 {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #f1cdb3;
  margin-top: 22px;
  width: 350px;
}
.contacts-icon__loc2 p {
  margin-left: 19px;
  letter-spacing: 1.2px;
}
.contacts-icon__loc {
  width: 300px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #f1cdb3;
}
.contacts-icon__loc p {
  margin-left: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  letter-spacing: 1.3px;
}
.contacts-icon__phone {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  color: #f1cdb3;
  margin-top: 34px;
}
.contacts-icon p {
  margin-left: 23px;
  width: 250px;
  letter-spacing: 1.5px;
}
.contacts-icon__phone p {
  margin-left: 23px;
  width: 250px;
  letter-spacing: 1.5px;
}
.flex {
  display: flex;
}
.footer-contacts__items {
  margin-top: 30px;
  display: flex;
}
.arrows-hover {
  background-image: url(../images/left-arrow.png);
  transition: 0.5s;
}
.arrows-hover:hover {
  background-image: url(../images/left-arrow-hover.png);
}
.arrows-hover__right {
  background-image: url(../images/right-arrow.png);
  transition: 0.5s;
}
.arrows-hover__right:hover {
  background-image: url(../images/right-arrow-hover.png);
}
.btn-footer a {
  color: #cdcdcd;
  position: relative;
}
.btn-footer a:hover {
  color: rgb(255, 255, 255);
}
.btn-footer a:after {
  display: block;
  content: "";
  margin-top: 5px;
  background-color: #f1cdb3;
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: translateX(-50%);
}
.btn-footer a:hover:after,
.btn-footer a:focus:after {
  width: 100%;
}
